# This is a basic workflow to help you get started with Actions

name: Deploy to Lightsail

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        env:
          LIGHTSAIL_KEY: ${{ secrets.LIGHTSAIL_KEY }}
          BOT_TOKEN: ${{BOT_TOKEN}}
        run: |
          echo "$LIGHTSAIL_KEY" > LightsailDefaultKey-us-west-2.pem
          chmod 600 LightsailDefaultKey-us-west-2.pem
          ssh -o StrictHostKeyChecking=no -i LightsailDefaultKey-us-west-2.pem admin@54.213.145.12 "cd zekebot; echo 'BOT_TOKEN=$BOT_TOKEN' > .env; sudo systemctl restart discord.service"

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
